@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
	--primary-color-1:#1c2b2d;
	--primary-color-2:#1f6f8b;
	--secondary-color-1:#99a8b2;
	--secondary-color-2:#e6d5b8;
};

*{
	box-sizing: border-box;
	margin:0;
}

body{
	font-family: 'Roboto', sans-serif;
		background-color: var(--primary-color-1);
}

button{
	cursor: pointer;
	background-color: var(--secondary-color-2);
	color: var(--primary-color-2);
	font-size: 20px;
	padding: 10px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
}

button:hover{
	background-color: var(--primary-color-1);
	color:var(--secondary-color-2);
}